<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="SZUV92BW82.com.csdentalsw.adminlist" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>PhoenixAdminApp</name>
  <description>
        An Ionic Framework and Cordova project.
    </description>
  <author email="you@example.com" href="http://example.com.com/">
      Your Name Here
    </author>
  <content src="index.html" />
  <preference name="webviewbounce" value="false" />
  <preference name="UIWebViewBounce" value="false" />
  <preference name="DisallowOverscroll" value="true" />
  <preference name="android-minSdkVersion" value="16" />
  <preference name="BackupWebStorage" value="none" />
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true" />
  </feature>
  <access origin="*" />
  <preference name="target-device" value="universal" />
  <allow-intent href="*" />
  <allow-navigation href="*" />
  <icon src="www/img/launch_icon_76x76.png" />
  <platform name="ios">
    <!-- iOS 8.0+ -->
    <!-- iPhone 6 Plus  -->
    <icon platform="ios" height="180" src="www/img/launch_icon_180x180.png" width="180" />
    <!-- iOS 7.0+ -->
    <!-- iPhone / iPod Touch  -->
    <icon platform="ios" height="76" src="www/img/launch_icon_76x76.png" width="76" />
    <icon platform="ios" height="120" src="www/img/launch_icon_120x120.png" width="120" />
  </platform>
  <plugin name="cordova-plugin-camera" version="2.1.0" />
</widget>